:root {
  --background-body: #f2f2f2;
  --background-highlight: #cbbebe;
  --background: #e6dbdb;
  --color: #332e2e;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-body: #2e2424;
    --background-highlight: #7b6969;
    --background: #5f4e4e;
    --color: #f2f2f2;
  }
}

* {
  box-sizing: border-box;
}

.jsonly {
  display: none;
}

.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.extraparent {
  line-height: 0.8;
}

.extra {
  font-size: x-small;
}

.justprint {
  display: none;
}
.message {
  background-color: var(--background-highlight);
  padding: 0.4rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  line-height: 2.8rem;
}

.fresh {
  background-color: var(--background-highlight);
}

.flex {
  display: flex;
  margin-top: 0;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  column-gap: 5px;
  row-gap: 0;
  align-items: flex-start;
  justify-content: space-between;
}

a {
  color: var(--color);
  padding: 7px;
  margin-top: 0;
  margin-bottom: 5px;
  border: 0;
  background-color: var(--background);
  border-radius: 6px;
  flex-grow: 1;
  gap: 10px;
}

form,
ul,
footer,
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  max-width: 20rem;
}

h1,
h2 {
  max-width: 20rem;
  text-align: left;
}

input,
li,
button,
select,
form details {
  -webkit-appearance: none;
  padding: 7px;
  margin-top: 0;
  margin-bottom: 5px;
  border: 0;
  background-color: var(--background);
  border-radius: 6px;
  width: 100%;
  color: var(--color);
  font-size: inherit;
  font-family: inherit;
  text-align: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

ul a {
  color: var(--color);
  text-decoration: none;
}

a {
  text-decoration: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active {
  text-align: left;
}

input[type="submit"] {
  background-color: var(--background-highlight);
}

label {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 7px;
  background-color: var(--background);
  display: block;
  border-radius: 6px;
}

.addqueue {
  filter: brightness(0.8) opacity(40%);
}

.rmqueue {
  filter: brightness(0.7) opacity(30%);
  padding: 1px;
  font-size: smaller;
}

@media (prefers-color-scheme: dark) {
  .addqueue {
    filter: brightness(1.7) opacity(30%);
  }
  .rmqueue {
    filter: brightness(1.7) opacity(30%);
  }
}

body {
  color: var(--color);
  background-color: var(--background-body);
  font-family: sans-serif;
  text-align: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 20px;
  }
}

.itemimage {
  border-radius: 40%;
  height: 32px;
  width: 32px;
  position: absolute;
  transform: translate(-152px, 2px);
  object-fit: cover;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  color: var(--background-highlight);
  text-decoration-thickness: 2px;
}

.dragging {
  background: transparent;
  color: transparent;
}

details > summary:first-of-type {
  list-style-type: none;
}

details summary::-webkit-details-marker {
  display: none;
}
