<!DOCTYPE html>
{{ with .Data }}
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info</title>
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <h1>Info</h1>
    <p>
      <b>Version:</b> {{ .Version }} <br />
      <b>User:</b> {{ $.Username }} <br />
    </p>
    <h3>Changelog</h3>
    <ul>
      {{ range .Changes }}
      <li {{ if .Fresh }}class="fresh" {{ end }}>{{ .Change }}</li>
      {{ end }}
    </ul>
  </body>
</html>
{{ end }}
