<!DOCTYPE html>
{{ with .Data }}
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      var websocketpath = "{{ .WebSocketPath }}";
      var username = "{{ .Username }}";
    </script>
    <script src="/-/assets/anime.min.js" async></script>
    <script src="/-/assets/list.js" async></script>
    <script src="/-/assets/app.js" async></script>
    <link rel="icon" href="/-/icon/{{ .Title }}/16" type="image/png" />
    <link rel="webmanifest" href="/manifest/{{ .Title }}.webmanifest" />
    <link
      rel="apple-touch-icon"
      href="/-/icon/{{ .Title }}/120"
      type="image/png"
    />
    <link media="screen" rel="stylesheet" href="/-/assets/style1.css" />
    <link media="print" rel="stylesheet" href="/-/assets/print.css" />
  </head>
  <style>
    .crossindicator {
      text-decoration: line-through;
      text-decoration-color: grey;
      text-decoration-thickness: 2px;
      opacity: 0.8;
    }
  </style>
  <body>
    <div
      id="overlay"
      style="
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        display: none;
      "
      onclick="hideFullscreen(event)"
    >
      <!-- center image -->
      <img
        id="overlayimg"
        style="
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-width: 90%;
          max-height: 90%;
        "
      />
    </div>
    <script>
      var overlay = document.getElementById("overlay");
      var overlayimg = overlay.getElementsByTagName("img")[0];
    </script>

    {{/* A websocket status indicator */}}
    <div
      id="status"
      style="
        background-color: red;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      "
    ></div>
    {{ range $.Messages }} <span class="message">{{ . }}</span><br />
    {{ end }}
    <div class="flex" style="max-width: 24rem; justify-content: center" ;>
      <h1 class="printnomarginbottom" style="padding-bottom: 0; margin: 0">
        {{ .Title }}
      </h1>
      {{ if or (or (gt .SharedAmount 1) (gt .Len 0)) (gt .Len 0) }}
      <span
        class="dontprint"
        style="
          padding-bottom: 0;
          text-color: grey;
          font-size: 13px;
          background-color: var(--background);
          margin: 1rem;
          padding: 0.3em;
          border-radius: 12px;
        "
      >
        {{ if gt .SharedAmount 1 }}
        <svg class="bi" width="12" height="12" fill="currentColor">
          <use xlink:href="-/assets/bootstrap-icons.svg#geo-fill" />
        </svg>
        <span id="onlinecount">{{- .Online -}}</span>

        <svg class="bi" width="12" height="12" fill="currentColor">
          <use xlink:href="-/assets/bootstrap-icons.svg#people" />
        </svg>
        {{- .SharedAmount -}} {{end}} {{ if gt .Len 0 }}
        <svg class="bi" width="12" height="12" fill="currentColor">
          <use xlink:href="-/assets/bootstrap-icons.svg#list-check" />
        </svg>
        {{- .Len -}} {{ end }}
      </span>
      {{ end }}
    </div>
    <h3 class="justprint" style="padding: 0; margin-top: 0">
      von {{ .Username }}
    </h3>
    {{ if or .Permissions.Add .Permissions.Read}}
    <form
      class="list"
      id="list"
      action="/-/update/{{ .Title }}"
      method="post"
      enctype="multipart/form-data"
      style="margin-bottom: 0px"
      onsubmit="formSubmit(event)"
    >
      {{ range .Items }}
      <div
        class="dragdrop"
        style="height: 20px; margin: -12px; position: relative"
        ondragover="return false"
        ondrop="onDrop(event)"
        ondragenter="dragenter(event)"
        ondragleave="dragleave(event)"
      ></div>
      <div class="item" ondragstart="dragstarthandler(event)">
        {{ if .Label }} {{ if .Image }}<a
          href="#"
          style="padding: 0"
          onclick="showFullscreen(event)"
          ><img class="itemimage" src="{{ .Image }}" /></a
        >{{end}}
        <input
          type="checkbox"
          name="{{ clean .Label}}"
          value="{{.Label}}"
          id="{{ clean .Label }}"
          onclick="syncCrossed(this)"
          {{
          if
          .Crossed
          }}
          checked
          {{
          end
          }}
        />
        <label
          for="{{ clean .Label }}"
          class="{{ clean .Label }}label {{ clean .Label}}{{if .Extra}} extraparent{{end}}"
          draggable="true"
          id="{{ clean .Label }}label"
          ondrag="onDrag(event)"
          ondragend="onendDrag(event)"
          >{{.Label}} {{ if .Extra }} <br /><span class="extra"
            >{{.Extra}}</span
          >
          {{ end }}
        </label>
      </div>
      {{ end }} {{ end }}
      <div
        class="dragdrop"
        style="height: 20px; margin: -10px; position: relative"
        ondragover="return false"
        ondrop="onDrop(event)"
        ondragenter="dragenter(event)"
        ondragleave="dragleave(event)"
      ></div>
      <div class="justprint">
        <div><input type="checkbox" />______________</div>
        <div><input type="checkbox" />______________</div>
        <div><input type="checkbox" />______________</div>
      </div>
      {{ if .Permissions.Add}}
      <div class="flex">
        <input
          class="dontprint"
          type="text"
          name="add"
          id="last"
          placeholder="{{ if gt .Len 0 }}Anderes...{{ else }}Sache{{end}}"
          style="flex-grow: 5; width: 80%"
        />
        <button
          onload="this.style.display='block'"
          style="display: none"
          onclick="this.nextSibling.open=true"
        >
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="-/assets/bootstrap-icons.svg#plus" />
          </svg>
        </button>
        <details class="dontprint" style="flex-grow: 1; width: auto">
          <summary onload="this.style.display = 'none'">
            <svg class="bi" width="32" height="32" fill="currentColor">
              <use xlink:href="-/assets/bootstrap-icons.svg#plus" />
            </svg>
          </summary>
          <input
            type="file"
            name="image"
            id="image"
            accept="image/png"
            style="display: none"
            onchange="updateprev(event)"
          />
          <script>
            var prev = document.getElementById("imgprev");
            function updateprev(event) {
              prev.src = URL.createObjectURL(event.target.files[0]);
              prev.style.display = "inline";
            }
          </script>
          <label for="image"
            >Bild auswählen<img
              id="imgprev"
              src=""
              style="
                display: none;
                width: 29px;
                height: 29px;
                object-fit: cover;
              "
          /></label>
        </details>
        <br />
      </div>
      {{ end }}
      <input
        type="submit"
        name="submit"
        class="dontprint"
        {{if
        not
        .Permissions.Add
        }}
        id="last"
        {{end}}
        value="{{ if gt .Len 0}}aktualisieren{{else}}hinzufügen{{end}}"
      />
    </form>
    {{ end }}
    <footer class="dontprint flex">
      <a href="/-/lists">
        <svg class="bi" width="20" height="20" fill="currentColor">
          <use xlink:href="-/assets/bootstrap-icons.svg#list" />
        </svg>
      </a>
      {{ if gt .SharedAmount 1 }}
      <a href="/-/shared/{{ .Title }}">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="-/assets/bootstrap-icons.svg#people-fill" />
        </svg>
      </a>
      {{ end }}
    </footer>
    <details style="padding-top: 30px" class="dontprint">
      <summary onclick="anime({targets:this.children[0], rotate:'+=90'})">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="-/assets/bootstrap-icons.svg#gear" />
        </svg>
      </summary>
      <ul>
        <button class="jsonly" id="printbutton" onclick="print()">
          Drucken
        </button>
        <script>
          if (!window.print) {
            document.getElementById("printbutton").remove();
          }
        </script>
      </ul>
      <form action="/-/share/" method="post">
        <input type="hidden" value="{{ .Title }}" name="list" />
        <input type="text" placeholder="mit" name="sharewith" />
        <details>
          <summary>Berechtigungen</summary>
          <input type="checkbox" name="read" id="read" checked />
          <label for="read" class="read">Einträge sehen</label>
          <input type="checkbox" name="add" id="add" checked />
          <label for="add" class="add">Einträge hinzufügen</label>
          <input type="checkbox" name="remove" id="remove" checked />
          <label for="remove" class="remove">Einträge entfernen</label>
          <input type="checkbox" name="share" id="share" checked />
          <label for="share" class="share">Liste teilen</label>
          <style media="screen">
            .read,
            .add,
            .remove,
            .share {
              text-decoration: line-through;
            }
            #read:checked ~ .read {
              text-decoration: none;
            }
            #add:checked ~ .add {
              text-decoration: none;
            }
            #remove:checked ~ .remove {
              text-decoration: none;
            }
            #share:checked ~ .share {
              text-decoration: none;
            }
          </style>
        </details>
        <input type="submit" value="teilen" />
      </form>
      <script>
        function confirmdelete(event) {
          if (!confirm("Willst du die Liste wirklich löschen?")) {
            event.preventDefault();
          }
        }
      </script>
      <form action="/-/delete/" method="post" onsubmit="confirmdelete(event)">
        <input type="hidden" value="{{ .Title }}" name="list" />
        <input type="submit" value="löschen" />
      </form>
      <iframe
        style="border: none; width: 100%"
        srcdoc='
      <link rel="stylesheet" href="/-/assets/style.css">
      <form action="/-/mail/" method="post">
        <input name="text" placeholder="Nachricht" type="text">
        <input name="username"  type="text" value="{{ .Username }}" style="display:none">
        <input type="submit" value="abschicken">
     </form>
     '
      ></iframe>
    </details>
    <div id="hidden" style="display: none"></div>
  </body>
</html>
{{ end }}
