<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Listen</title>
    <link rel="stylesheet" href="/-/assets/style1.css" />
    <script src="/-/assets/app.js" async></script>
    <link rel="icon" href="/-/icon/16" type="image/png" />
    <link rel="apple-touch-icon" href="/-/icon/120" />
    <link rel="manifest" href="/-/manifest.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"
      async
    ></script>
    <script>
      function confirmdelete(event) {
        if (!confirm("Willst du den Schlüssel wirklich löschen?")) {
          event.preventDefault();
        }
      }
      function atobIntArr(value) {
        return Uint8Array.from(atob(value), (c) => c.charCodeAt(0));
      }
      function bIntArrtoa(value) {
        return btoa(String.fromCharCode.apply(null, new Uint8Array(value)))
          .replace(/\+/g, "-")
          .replace(/\//g, "_")
          .replace(/=/g, "");
      }
      function registerauthenticator(event) {
        var name = document.getElementById("authenticatorname").value;
        event.preventDefault();
        fetch("/-/webauthn/register?name=" + encodeURIComponent(name), {
          credentials: "include",
        })
          .then((response) => response.json())
          .then((options) => {
            console.log(options);
            // convert base64 encoded values to binary
            options.publicKey.user.id = atobIntArr(options.publicKey.user.id);
            options.publicKey.challenge = atobIntArr(
              options.publicKey.challenge
            );

            if (options.publicKey.excludeCredentials) {
              for (let cred of options.publicKey.excludeCredentials) {
                cred.id = atobIntArr(cred.id);
              }
            }

            // ask for credentials
            return navigator.credentials.create(options);
          })
          .then((cred) => {
            // encode binary values as base64
            const credential = {};
            credential.id = cred.id;
            credential.rawId = bIntArrtoa(cred.rawId);
            credential.type = cred.type;

            if (cred.response) {
              const clientDataJSON = bIntArrtoa(cred.response.clientDataJSON);
              const attestationObject = bIntArrtoa(
                cred.response.attestationObject
              );
              credential.response = {
                clientDataJSON,
                attestationObject,
              };
            }
            console.log(credential);
            return fetch("/-/webauthn/register", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(credential),
            });
          })
          .then((resp) => {
            if (resp.ok) {
              document.getElementById("authenticatorname").value = "";
              document.getElementById("credlist").innerHTML += `
        <form
          method="post"
          action="/-/webauthn/delete"
          onsubmit="confirmdelete(event)"
          style="margin-top: 0rem; margin-bottom: 0rem"
        >
          <button style="display: flex">
            <input
              type="checkbox"
              name="credname"
              value="${name}"
              style="display: none"
              checked
            />
            <span style="width: 100%">${name}</span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-trash3"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
              />
            </svg>
          </button>
        </form>`;
            } else {
              alert("Fehler");
            }
          });
      }
    </script>
  </head>
  <body>
    {{ with .Data }} {{ range $.Messages }} <span class="message">{{ . }}</span
    ><br />
    {{ end }}
    <div style="max-width: 23rem" class="center">
      <h1>Hallo {{ namify .Username }}</h1>
      {{ if .Lists }}
      <h2>Hier sind deine Listen</h2>
      {{ else }}
      <h2>Herzlich Willkommen!</h2>
      {{ end }}
    </div>
    <form action="/new/" method="post">
      {{ range .Lists}}
      <a style="display: block" href="/{{ .Title }}">{{ .Title }}</a
      ><br style="display: none" />
      {{ end }}
      <input type="text" name="new" value="" placeholder="Neue Liste" />
      <input type="submit" name="ok" value="Erstellen" />
      <!--button>
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#check2-circle" />
        </svg>
      </button-->
    </form>
    <details id="mehr">
      <summary onclick="anime({targets:this.children[0], rotate:'+=90'})">
        <svg class="bi" width="32" height="32" fill="currentColor">
          <use xlink:href="assets/bootstrap-icons.svg#gear" />
        </svg>
      </summary>
      <h3>Listen verwalten</h3>
      <form action="/-/delete/" method="post">
        <input type="text" name="list" value="" placeholder="Liste" />
        <input type="submit" name="ok" value="Löschen" />
      </form>
      <form action="/-/share/" method="post">
        <select name="list">
          <option value="">[Liste]</option>
          {{ range .Lists }} {{ if .Permissions.Share }}
          <option value="{{ .Title }}">{{ .Title }}</option>
          {{ end }} {{ end }}
        </select>
        <input type="text" name="sharewith" value="" placeholder="mit..." />
        <details>
          <summary>Berechtigungen</summary>
          <input type="checkbox" name="read" id="read" checked /><label
            for="read"
            class="read"
            >Einträge sehen</label
          >
          <input type="checkbox" name="add" id="add" checked /><label
            for="add"
            class="add"
            >Einträge hinzufügen</label
          >
          <input type="checkbox" name="remove" id="remove" checked /><label
            for="remove"
            class="remove"
            >Einträge entfernen</label
          >
          <input type="checkbox" name="share" id="share" checked /><label
            for="share"
            class="share"
            >Liste teilen</label
          >
          <style media="screen">
            .read,
            .add,
            .remove,
            .share {
              text-decoration: line-through;
            }
            #read:checked ~ .read {
              text-decoration: none;
            }
            #add:checked ~ .add {
              text-decoration: none;
            }
            #remove:checked ~ .remove {
              text-decoration: none;
            }
            #share:checked ~ .share {
              text-decoration: none;
            }
          </style>
        </details>
        <input type="submit" name="ok" value="Teilen" />
      </form>
      {{/*
      <h3>Account</h3>
      <form method="POST" action="/-/newalias/">
        <input type="text" name="alias" id="alias" placeholder="Alias" />
        <input type="url" name="url" id="url" placeholder="für Website" />
        <input type="submit" value="erstellen" />
      </form>
      */}}
      <ul>
        <div id="credlist">
          {{ range $.Data.WebAuthnCredNames }}

          <form
            method="post"
            onsubmit="confirmdelete(event)"
            action="/-/webauthn/delete"
            style="margin-top: 0rem; margin-bottom: 0rem"
          >
            <button
              style="display: flex"
              onclick="anime({targets:this.children[2],keyframes:[{rotate:-20},{rotate:20},{rotate:0}],duration:500,easing:'easeOutExpo'})"
            >
              <input
                type="checkbox"
                name="credname"
                value="{{.}}"
                style="display: none"
                checked
              />
              <span style="width: 100%">{{ . }}</span
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-trash3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                />
              </svg>
            </button>
          </form>
          {{end }}
        </div>
        <form class="jsonly" id="webauthnform" style="margin-top: 0rem">
          <input type="text" placeholder="Gerätename" id="authenticatorname" />
          <input type="submit" id="registerauthenticator" value="hinzufügen" />
        </form>
      </ul>
      <script>
        document.getElementById("webauthnform").onsubmit =
          registerauthenticator;
      </script>
      <div class="center">
        <a style="display: block" href="/-/logout">Ausloggen</a>
      </div>
      <iframe
        style="border: none; width: 100%"
        srcdoc='
      <link rel="stylesheet" href="/-/assets/style.css">
      <form action="https://u1l.de/send" method="post">
        <input name="msg" placeholder="Nachricht" type="text">
        <input name="subject" type="text" value="Anfrage für Listen" style="display:none">
        <input name="from"  type="text" value="{{ .Username }}" style="display:none">
        <input type="submit" value="abschicken">
     </form>'
      ></iframe>
    </details>
    {{ end }}
  </body>
</html>
