<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../assets/style1.css" />
    <link rel="icon shortcut" href="/icon/32" sizes="32x32" type="image/png" />
    <link rel="icon" href="/icon/16" sizes="16x16" type="image/png" />
    <link
      rel="apple-touch-icon"
      href="/icon/192"
      sizes="192x192"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="/icon/144"
      sizes="144x144"
      type="image/png"
    />
    <meta name="apple-mobile-web-app-title" content="Lists" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Lists" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      // disable service worker
      navigator.serviceWorker.getRegistrations().then(function (registrations) {
        for (let registration of registrations) {
          registration.unregister();
        }
      });
    </script>
  </head>
  <body>
    {{ range .Messages }}
    <span class="message">{{ . }}</span>
    {{ end }}
    <script>
      function atobIntArr(value) {
        return Uint8Array.from(atob(value), (c) => c.charCodeAt(0));
      }
      function bIntArrtoa(value) {
        return btoa(String.fromCharCode.apply(null, new Uint8Array(value)))
          .replace(/\+/g, "-")
          .replace(/\//g, "_")
          .replace(/=/g, "");
      }
      var checkedauthn = false;
      function checkWebAuthn(event) {
        if (!checkedauthn) {
          const user = document.getElementById("username").value;
          event.preventDefault();
          checkedauthn = true;
          fetch("/-/webauthn/login?user=" + user, { credentials: "include" })
            .then((resp) => {
              if (resp.ok) {
                console.log(resp);
                return resp.json();
              }
              document.getElementById("loginform").submit();
            })
            .then((options) => {
              options.publicKey.challenge = atobIntArr(
                options.publicKey.challenge
              );
              options.publicKey.allowCredentials.forEach(
                (item) => (item.id = atobIntArr(item.id))
              );
              return navigator.credentials.get(options);
            })
            .then((cred) => {
              const credential = {};
              credential.id = cred.id;
              credential.type = cred.type;
              credential.rawId = bIntArrtoa(cred.rawId);

              if (cred.response) {
                const clientDataJSON = bIntArrtoa(cred.response.clientDataJSON);
                const authenticatorData = bIntArrtoa(
                  cred.response.authenticatorData
                );
                const signature = bIntArrtoa(cred.response.signature);
                const userHandle = bIntArrtoa(cred.response.userHandle);
                credential.response = {
                  clientDataJSON,
                  authenticatorData,
                  signature,
                  userHandle,
                };
              }
              console.log(credential);
              return fetch("/-/webauthn/login/", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(credential),
              });
            })
            .then((resp) => {
              if (resp.ok) {
                console.log("success");
                window.location.replace("/");
              }
            });
        }
      }
    </script>
    <form id="loginform" method="POST" onsubmit="checkWebAuthn(event)">
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Email / Username / LoginCode"
      />
      <input type="submit" value="Ok" />
    </form>
  </body>
</html>
