<!DOCTYPE html>
{{ with .Data }}
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {{safecss $.Style}}
    </style>
  </head>
  <body>
    {{ range $.Messages }}
    <span class="message">{{ . }}</span>
    {{ end }}
    <h1 style="padding-bottom: 0">Hallo {{ namify $.Username }}!</h1>
    <div class="center">
      {{ range .Lists }}
      <a
        style="display: block"
        href="https://{{ $.Host }}/{{ .Title }}?session={{$.Token}}"
        >{{ .Title }}</a
      >
      {{ end }}
      <a
        href="https://{{ $.Host }}/lists?session={{$.Token}}"
        style="display: block; background-color: var(--background-highlight)"
      >
        Alle Listen
      </a>
    </div>
  </body>
</html>
{{ end }}
