<!DOCTYPE html>
{{ with .Data }}
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Listen</title>
    <link rel="stylesheet" href="/assets/style1.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    {{ range $.Messages }}
    <span class="message">{{ . }}</span><br />
    {{ end }}
    <div class="center">
      <h1>{{ .Title }}</h1>
      <h2>ist geteilt mit</h2>
    </div>
    <ul style="margin-bottom: 0">
      {{ range .Items}}
      <li {{ if index $.Map .Label }}class="fresh" {{end}}>{{ .Label }}</li>
      {{ end }}
    </ul>
  </body>
  <footer class="flex">
    <a href="/{{ .Title }}"
      ><svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#caret-left-square" />
      </svg> </a
    ><a href="/lists">
      <svg class="bi" width="20" height="20" fill="currentColor">
        <use xlink:href="/assets/bootstrap-icons.svg#list" />
      </svg>
    </a>
  </footer>
</html>
{{ end }}
