<!DOCTYPE html>
{{ with .Data }}
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      {{safecss $.Style}}
    </style>
  </head>
  <body>
    {{ range $.Messages }}
    <span class="message">{{ . }}</span>
    {{ end }}
    <h1 style="padding-bottom: 0">{{ .Title }}</h1>
    {{ if or .Permissions.Add .Permissions.Read}}
    <div class="center">
      {{ range .Items }} {{ if .Label }}
      <a style="display: block" href="{{$.Link}}&cross={{clean .Label}}"
        >{{.Label}}</a
      >
      {{ end }} {{ end }}
      <a
        href="{{$.Link}}"
        style="display: block; background-color: var(--background-highlight)"
      >
        Öffnen
      </a>
    </div>
    {{ end }}
  </body>
</html>
{{ end }}
